body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*---------------------------------------------------------------------------------------*/
/*
    <css - Categories>
*/
.title-bar-position {
    padding-top: 20px;
}

.title-bar-stats {
    color: #c7c7c7;
    font-size: 15px;
    width: 20%;
    float: right;
    text-align: center;
    border-color: white;
    border-left: solid;
}

.title-bar {
    background-color: #222222 !important;
    min-height: 20px;
}

    .title-bar table {
        color: #c7c7c7;
        font-size: 15px;
        margin-top: inherit;
        margin-bottom: inherit;
        width: 100%;
    }

    .title-bar a:hover {
        text-decoration: none;
    }

    .title-bar a {
        color: inherit;
    }

/*
    </css - Categories>
*/
/*---------------------------------------------------------------------------------------*/
/*
    <css-Subjects>
*/
.subject-content {
    background-color: rgb(212,225,236);
    padding: 10px;
    align-content: center;
    border-bottom: 1px solid#000000;

}


/*
    </css-Subjects>
*/
/*---------------------------------------------------------------------------------------*/
/*
    <bootstrap override>
*/
.navbar {
    position: relative;
    z-index: 1000;
    min-height: 60px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    font-size: 15px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #c7c7c7;
}

.navbar-inverse .navbar-brand {
    color: #c7c7c7;
}

/*
    </bootstrap override>
*/
