@using ASPForum.Resources
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">@GlobalRes.YouAreBanned</h1>
    <h2 class="text-danger">@GlobalRes.YourAccountHasBeenBanned</h2>
</hgroup>
