@model IEnumerable<ASPForum.Models.Subject>
<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-12 subject-content">
            <table width="100%">

                <tr>
                    
                    <td class="col-md-8">
                        <span class="glyphicon glyphicon-list-alt" style="padding-right: 10px"></span>
                        
                        @Html.ActionLink(item.Title, "ThreadsSubject", "Threads", new {id = item.Id}, null) <br/>
                    </td>
                    <td class="col-md-1">
                        @Html.Action("ThreadsCount", "Categories", new {id = item.Id})
                    </td>
                    <td class="col-md-1">
                        @Html.Action("PostCount", "Categories", new {id = item.Id})
                    </td>
                    <td class="col-md-2">
                        @Html.Action("NewPost", "Categories", new {id = item.Id})
                    </td>
                </tr>
            </table>

        </div>
    }  
</div>