
@model IEnumerable<ASPForum.Models.Friends>


<table class="table">

    @foreach (var item in Model)
    {
        <tr style="border-bottom:1px solid black;">
            <td  onclick="location.href='yourpage.html'">
                @item.Friend.UserName
            </td>
            <td>
                @Ajax.ActionLink("Usun", "Delete", "Friends", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "btn btn-default", @style ="padding-top:0px; padding-bottom:0px;" })
            </td>

        </tr>

    }

</table>


