@using ASPForum.Resources
@model IEnumerable<ASPForum.Models.Friends>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td class="col-md-2">
                <img src="@item.Friend.Avatar" height="16" width="16" alt="avatar"/>
            </td>
            <td class="col-md-6">
                @Ajax.ActionLink(item.Friend.UserName, "FriendMessages", "Manage", new {id = item.Friend.Id}, new AjaxOptions {UpdateTargetId = "messages_", InsertionMode = InsertionMode.Replace, HttpMethod = "GET"}, new {@class = ""})

            </td>
            <td class="col-md-4">
                @Ajax.ActionLink(GlobalRes.Delete, "Delete", "Friends", new {id = item.Id}, new AjaxOptions {UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET"}, new {@class = "btn btn-default", style = "padding-top:0px; padding-bottom:0px;"})
            </td>

        </tr>
    }

</table>