@model IEnumerable<ASPForum.Models.Message>


<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading title-bar">
            <table>
                <tr>
                    <td>
                        Wiadomości
                    </td>
                </tr>
            </table>
        </div>

        <div class="panel-body" style="padding:0px;">

                    <div>

                        <table width="100%">
                            @foreach (var item in Model)
            {
                                <tr id="detailsMessage" name="@item.Id"class="subject-content">
                                    <td class="col-xs-10">
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td class="col-xs-2"> 
                                        @Html.Action("dateMessage","Messages",new {id=item.Id})
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>

        </div>

    </div>
</div>
