@model IEnumerable<ASPForum.Models.Friends>


@Html.ActionLink("Nowa wiadomosc", "Create","Messages",null, new { @class = "btn btn-default" })
@Html.ActionLink("Dodaj znajomego", "Create", "Friends", null, new { @class = "btn btn-default" })

<table class="table">

    @foreach (var item in Model)
    {
        <tr style="border-bottom:1px solid black;">
            <td>
                @item.Friend.UserName
            </td>
            <td>
                @Html.ActionLink("Usun", "Delete", "Friends",new { id = item.Id},null)
            </td>
           
        </tr>
        
    }

</table>  
