<h4>Szczegóły dotyczące konta</h4>
<hr />
@section scripts
{
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function() {
            console.log("ADASASDASD");
        })
        console.log("NIEGOTOOWY");
    </script>
}
