@using ASPForum.Resources
@model ASPForum.Models.ApplicationUser
<h4>@GlobalRes.ChangeAvatar</h4>
<hr />


<img src="@ViewBag.Avatar" />

@using (Html.BeginForm("FileUpload",
                "Manage",
                FormMethod.Post,
                new { enctype = "multipart/form-data", id = "imageform" }))
{
    <br />
    <label for="openFile">@GlobalRes.UploadNewAvatar</label>
    <input type="file" name="file" id="openFile" accept="image/*" />
    <br />
    <input type="submit" value="@GlobalRes.Submit" id="submit" class="btn btn-info" />
    <h4 id="error" style="color: red"></h4>
}