@using Microsoft.AspNet.Identity
@if (User.IsInRole("Admin") && Request.IsAuthenticated)
{
    <table class="table ">
        <th>Użytkownik</th>
        <th>Ranga</th>
        <th>Opcje</th>
        @foreach (var user in ViewBag.UserList)
        {
            <tr>
                <td>
                    @user.UserName
                </td>
                <td>
                    @user.Privileges
                </td>
                <td>
                    @Ajax.ActionLink("Edytuj", "EditUser", new {id = User.Identity.GetUserId()},
                        new AjaxOptions
                        {
                            UpdateTargetId = "moj_div",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET"
                        })
                </td>

            </tr>
        }
    </table>
}