@using ASPForum.Resources
@model ASPForum.Models.Friends

<h3>@GlobalRes.DoYouWantToRemoveFriend? </h3>
<h4> @Model.Friend.UserName</h4>
<div>
    <hr />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            @Ajax.ActionLink(GlobalRes.BackToList, "Inbox","Manage", null, new AjaxOptions { UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "btn btn-primary btn-md" })
        </div>
    }
</div>
