@using ASPForum.Resources
@model ASPForum.Models.Post
<div>
   @GlobalRes.By: <a href="@Url.Action("PostThread", "Posts", new {id = Model.ThreadId})#@Model.Id">@Model.User.UserName</a>
</div>
<div style="font-size: 12px"> @($"{Model.Date:dd/MM/yyyy, hh:mm}") </div>